@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* Main view setup */
html {
    min-height: 100%;
    position: relative;
    background-color: #FFFCFF;
}

body {
    background-color: #FFFCFF;
    color: #1B2F33;
    font-family: Fredoka One, sans-serif;
    text-align: center;
}
/* Header */

.header {
    font-size: 250%
}

/* Game Area */

.game-area {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.game-area h2 {
    margin-bottom: 5px;
}

.control {
    display: inline-block;
    margin: 2px;
    width: 80px;
    height: 40px;
    font-family: Fredoka One, sans-serif;
    transition: all 0.3s ease;
}

.control:hover {
    background-color: #1B2F33;
    color: #FFFCFF;
}

.outcome-container {
    margin: 0px;
}

#player-win {
    color: #288F28;
}

#messages {
    padding-top: 0px;
    padding-bottom: 20px;
}

.player {
    float: left;
    width: 40%;
}

#player-image {
    width: 60%;
}

.computer {
    float: right;
    width: 40%;
}

#computer-image {
    width: 60%;
}

/* Footer */

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
    background-color: #1B2F33;
    color: #FFFCFF;

}

@media screen and (max-width: 320px) {
    .header {
        font-size: 125%;
    }

    h2 {
        font-size: 100%;
    }

    .scores {
        font-size: 100%;
    }

    .control {
        font-size: 75%;
        width: 80px;
    }

    #outcome {
        font-size: 100%;
    }
}
