@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* Main view setup */
html {
    min-height: 100%;
    position: relative;
    background-color: #FFFCFF;
}

body {
    background-color: #FFFCFF;
    color: #1B2F33;
    font-family: Fredoka One, sans-serif;
    text-align: center;
}
/* Header */

.heading {
    font-size: 250%
}

/* Game Area */

.game-area {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 75%;
}

.button {
    display: inline-block;
    margin: 2px;
    width: 80px;
    height: 40px;
    font-family: Fredoka One, sans-serif;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #1B2F33;
    color: #FFFCFF;
}

.selections {
    padding-top: 20px;
    padding-bottom: 20px;
}

.player {
    margin: 2px;
    float: left;
    width: 40%;
    overflow: none;
    font-size: 100%;
}

.computer {
    margin: 2px;
    float: right;
    width: 40%;
    overflow: none;
    font-size: 100%;
}

#player-image {
    width: 90%;
}

#computer-image {
    width: 90%;
}

.footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
    background-color: #1B2F33;
    color: #FFFCFF;

}